
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    @{ string version = "1.0.2";}

    <link href="/AdminContent/assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />

    <link href="/AdminContent/assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
    <!--favicon-->
    <link rel="icon" href="/AdminContent/assets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="/AdminContent/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="/AdminContent/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="/AdminContent/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="/AdminContent/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="/AdminContent/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="/AdminContent/assets/css/app-style.css" rel="stylesheet" />   

    <link href="/AdminContent/assets/css/custom.css" rel="stylesheet" />

    <style>
        .menubar li {
            margin-right: 20px;
            font-size: 14px;
        }

        .rightmenu li {
            margin-left: 20px;
            font-size: 14px;
        }

        .logo-icon {
            font-size: 40px;
            color: black;
            margin-right: 30px;
        }
    </style>
</head>
<body class="bg-contrast">
    <nav class="navbar navbar-expand-md navbar bg-dark">
        <!-- Brand -->
        <a class="logo-icon fa fa-diamond" style="color:white" href="#"></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler bg-contrast" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav menubar">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Live Inventory", "LiveInventory", "Home", new { area = "" }, null)
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Inventory", "Inventory", "Home", new { area = "" }, null)
                </li>
               
            </ul>
            <ul class="navbar-nav  ml-auto rightmenu">
                <li>
                    <i class="fa fa-user-circle " style="color:white"></i>
                    &nbsp;@Html.ActionLink("Sign Up", "Registration", "Home", new { area = "" }, null)

                </li>
                <li>
                    <i class="fa fa-user-plus" aria-hidden="true" style="color:white">&nbsp;</i>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, null)
                </li>
            </ul>
        </div>
    </nav>

    <div class="">
        @RenderBody()
        <hr />
        <footer class="text-center" >
            <p>&copy; @DateTime.Now.Year - Diamond Inventory</p>
        </footer>
    </div>

    <script src="/AdminContent/assets/angular/angular.min.js"></script>
    <script src="/AdminContent/assets/angular/angular-sanitize.js"></script>

    <!-- Bootstrap core JavaScript-->

    <script src="/AdminContent/assets/js/popper.min.js"></script>
    <script src="/AdminContent/assets/js/jquery.min.js"></script>
    <script src="/AdminContent/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="/AdminContent/assets/plugins/ṇ/js/simplebar.js"></script>
    <!-- waves effect js -->
    <script src="/AdminContent/assets/js/waves.js"></script>
    <!-- sidebar-menu js -->
    <script src="/AdminContent/assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="/AdminContent/assets/js/app-script.js"></script>
    <script src="/AdminContent/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
   @* <script src="/AdminContent/assets/plugins/ion-rangeslider/js/range-slider-script.js"></script>*@
    <!--CRUD Custom scripts2 -->
    <script src="/Content/js/Custom.js?var=@version"></script>
</body>
</html>
